/************************************************************************************
RESET CSS
*************************************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
    margin: 0;
    padding: 0;
}
 
img, fieldset {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
    margin: 0;
}
 
/************************************************************************************
ESTILOS GENERALES
*************************************************************************************/

body {
    background: #0d1424 url(../images/bg.jpg) repeat center top;
    font: .81em/150% Arial, Helvetica, sans-serif;
    color: #666;
}

a{
    color: #026acb;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

p{
    margin: 0 0 1.2em;
    padding: 0;
}
 
/* list */
ul, ol {
    margin: 1em 0 1.4em 24px;
    padding: 0;
    line-height: 140%;
}

li {
    margin: 0 0 .5em 0;
    padding: 0;
}
 
/* headings */

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4em;
    margin: 20px 0 .4em;
    color: #000;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

input[type=search] {
    -webkit-appearance: none;
    outline: none;
}
 
#pagewrap {
    width: 980px;
    margin: 0 auto;
}

#header {
    position: relative;
    height: 160px;
}
 
/* site description */
#site-description {
    color: #FFFFFF;
    left: 160px;
    position: absolute;
    top: 30px;
}

#searchform {
    position: absolute;
    right: 10px;
    bottom: 6px;
    z-index: 100;
    width: 160px;
}

#searchform #s {
    width: 140px;
    float: right;
    background: #fff;
    border: none;
    padding: 6px 10px;
    /* border radius */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* box shadow */
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    /* transition */
    -webkit-transition: width .7s;
    -moz-transition: width .7s;
    transition: width .7s;
}

#main-nav {
    width: 100%;
    background: #ccc;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
    /* gradient */    
    background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#6a6a6a));
    background: -moz-linear-gradient(top,  #b9b9b9,  #6a6a6a);
    background: linear-gradient(-90deg, #b9b9b9, #6a6a6a);
    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.3), 0 1px 1px rgba(0,0,0,.4);
}

#main-nav li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    position: relative;
}

#main-nav li:first-child {
    margin-left: 10px;
}

#main-nav a {
    line-height: 100%;
    font-weight: bold;
    color: #fff;
    display: block;
    padding: 14px 15px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

#main-nav a:hover {
    color: #fff;
    background: #474747;
    /* gradient */
    background: -webkit-gradient(linear, left top, left bottom, from(#cdcdcd), to(#797979));
    background: -moz-linear-gradient(top,  #cdcdcd,  #797979);
    background: linear-gradient(-90deg, #cdcdcd, #797979);
 
}

#content {
    background: #fff;
    margin: 30px 0 30px;
    padding: 20px 35px;
    width: 600px;
    float: left;
    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

h2.post-title {
    background: #888;
    border-radius: 5px;
    padding: 0px 5px ;
    border-top: 1px solid #889;
    border-bottom: 1px solid #889;
    text-align: center;
}

h2.post-title a {
    color: #FFFFFF;
    font-size: 0.9em;
    text-shadow: 1px 1px 2px #333333;
}

.post {
    margin-bottom: 20px;
}

.post-title {
    margin: 0 0 5px;
    padding: 0;
    font: bold 26px/120% Arial, Helvetica, sans-serif;
}

.post-title a {
    text-decoration: none;
    color: #000;
}

.post-meta {
    margin: 0 0 10px;
    font-size: 90%;
}
 
figure.post-imagen img {
    float: left;
    margin: 5px;
    max-width: 260px;
}

#sidebar {
    width: 280px;
    float: right;
    margin: 30px 0 30px;
}

.widget {
    background: #f4e21d	;
    margin: 0 0 30px;
    padding: 10px 20px;
    /* rounded corner */
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    /* box shadow */
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.widgettitulo {
    background: none repeat scroll 0 0 #666666;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    margin: 0 0 5px;
    padding: 6px 0;
    text-align: center;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget li {
    margin: 0;
    padding: 2px 0;
    list-style: none;
    clear: both;
    border-top: solid 1px #eee;
}

section.widget ul li a {
    color: #fff;
    font-weight: bold;
    font-style: italic;
    font-size: 1.2em;
    padding: 11px;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease-out;
}

section.widget ul li a:hover {
    background: #fff;
    color: #6B6B6B !important;
    text-decoration: none;
}

/*---FOOTER---*/
#footer {
    background: none repeat scroll 0 0 #999999;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    color: #333333;
    font-size: 90%;
    text-align: center;
}

#footer a {
    color: #fff;
}
 
/***************************************************
----- CONDICIONALES DE MEDIA QUERIES -----
****************************************************/
 
@media screen and (max-width: 980px) {
 
    #pagewrap {
        width: 95%;
    }
    #content {
        width: 60%;
        padding: 3% 4%;
    }
    figure.post-imagen img {
	    float: left;
	    margin: 5px;
	    max-width: 230px;
    }
    #sidebar {
        width: 30%;
    }
    #sidebar .widget {
        padding: 8% 7%;
        margin-bottom: 10px;
    }
 
}
 
@media screen and (max-width: 650px) {
 
    #header {
        height: auto;
    }
    #searchform {
        position: absolute;
        top: 5px;
        right: 0;
        z-index: 100;
        height: 40px;
    }
    #searchform #s {
        width: 70px;
    }
    #searchform #s:focus {
        width: 150px;
    }
    #main-nav {
        position: static;
    }
    #site-logo {
        margin: 15px 100px 5px 0;
        position: static;
    }
 
    /* site description */
    #site-description {
        margin: 0 0 15px;
        position: static;
        text-align: center;
    }
    #content {
        width: auto;
        float: none;
        margin: 20px 0;
    }
    figure.post-imagen img {
	    float: left;
	    margin: 5px;
	    max-width: 180px;
    }
    #sidebar {
        width: 100%;
        margin: 0;
        float: none;
    }
    #sidebar .widget {
        padding: 3% 4%;
        margin: 0 0 10px;
    } 
}
 
@media screen and (max-width: 480px) { 
    html {
        -webkit-text-size-adjust: none;
    }
    #main-nav a {
        font-size: 90%;
        padding: 10px 8px;
    }
    figure.post-imagen img {
    float: left;
    margin: 5px;
    max-width: 130px;
    } 
}