body{font: 30px/20px "Chaparral Pro Light", "Franklin Gothic Book",sans-serif;}

body {
	color: #ffffff;
}

html, body, ,li, img, nav, p, a{
    margin: 0;
}

img, fieldset {
    border: 0;
}

body {
    background: #0d1424 url(../images/change.png) repeat center top;
    font: .87em/150% Calibri, Chaparral, sans-serif;
    color: #ffffff;
}

p{
    margin: 0 0 1.2em;
    padding: 0;
}

li {
    margin: 0 0 .5em 0;
    padding: 0;
}
